<a href="https://colab.research.google.com/github/qrNasr/AraBigData/blob/main/ListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[expression> loop in iterable}

In [ ]:
# Sample loop
fruits=['orange','kiwi','apple']
for fruit in fruits:
  print(fruit.upper())

ORANGE
KIWI
APPLE

In [ ]:
fruits=['orange','kiwi','apple']
# creat [] , then action (print), then for loop
[print(fruit) for fruit in fruits]

orange
kiwi
apple

[None, None, None]

In [ ]:
fruits=['orange','kiwi','apple']
# creat [] , then action (print), then for loop
# use upper method
[print(fruit.upper())for fruit in fruits]

ORANGE
KIWI
APPLE

[None, None, None]

In [ ]:
nums=[1,5,9,6]
[i*3 for i in nums]
# Action than loop

[3, 15, 27, 18]

In [ ]:
# assign the outcome to a variable
nums=[1,5,9,6]
result=[i*3 for i in nums]
print(result)

[3, 15, 27, 18]

In [ ]:
# Classic loop without list comprehension
resultt =[]
strings=['intro','to','list','comps']
for i in strings:
  i=i.upper()
  resultt.append(i)
  print(resultt)
print(resultt)

In [ ]:
# Now change the above loop to a list comprehension
strings=['intro','to','list','comps']
ListCom=[i.upper() for i in strings]
print(ListCom)

['INTRO', 'TO', 'LIST', 'COMPS']

In [ ]:
range=[x*x for x in [2,4,6,8]]
print(range)

[4, 16, 36, 64]

# How to define a function

In [ ]:
def timesFive(num):
  return num*5

print(timesFive(3))

15

# **Loop instead of function**

In [ ]:
# Loop instead of function
resultt =[]
#strings=['intro','to','list','comps']
# nums are in cell 11
for i in nums:
  i= timesFive(i)
  print('i', i)
  resultt.append(i)
print('result w function', resultt)

i 5
i 25
i 45
i 30
result w function [5, 25, 45, 30]

# use function in list comprehension

use timesFive mentioned above

In [ ]:
# function followed by loop.
num_sum=[timesFive(i) for i in nums]
num_sum

[5, 25, 45, 30]

In [ ]:
# function followed by loop, loop followed by if condition.
num_sum=[timesFive(i) for i in nums if i > 2]
num_sum

[25, 45, 30]

# List comprehension with Dictionary

Create a dictionary

In [ ]:
dicts=[{'name':'Nasr'},{'name':'Mona'}]
dicts

[{'name': 'Nasr'}, {'name': 'Mona'}]

**Now use classic loop**

In [ ]:
results=[]
for i in dicts:
  results.append(i['name'])
print('results', results)

results ['Nasr', 'Mona']

**Now use list comprehension**

In [ ]:
results=[i['name'] for i in dicts]
print(results)

['Nasr', 'Mona']

In [ ]:
results=[i['name'] + ' python 'for i in dicts]
print(results)

['Nasr python ', 'Mona python ']

# use if with list comprehension

Generic list comprehension

[i for i in list]

In [ ]:
list1=[1,2,3]
#loop with only if, loop then If.
output=[i for i in list1 if i>0]
print(output)

[1, 2, 3]

In [ ]:
list1=[1,2,3]
# if is on the left of the for loop, else if on the right of the loop
output=[i*5 if i ==3 else i for i in list1]
print(output)

[1, 2, 15]

In [ ]:
list1=[1,2,3]
# if is on the left of the for loop, else if on the right of the loop
output=[i*5 for i in list1 if i==3]
print(output)

[15]

In [ ]:
engCap= [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z]
engSmall=[]

for e in engCap:
  e.lower()
  engSamll.append()
print(engSmall)

NameError: ignored